<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Carbon Counts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/math.css">
    <style>
      body {background: url("img/45degreee_fabric.png");}
      #mpg {left: 27.5%;}
      #miles {left: 52.5%;}
      #result {
        width: 50%;
        top: 35%;
        position: absolute;
        font-size: 28px;
        left: 25%;
        line-height: 1em;
      }
    </style>
  </head>
  <body>
    <h1>Carbon Counts</h1>
    <h2>Info about car trips and daily commutes</h2>
    <input type="number" id="mpg"   class="form-control" ng-model="mpg"   min="0" max="999"    step="0.1" placeholder="MPG">
    <input type="number" id="miles" class="form-control" ng-model="miles" min="0" max="999999" step="5" placeholder="Distance">
    <div id="result">
      A car that gets {{mpg}} mpg will take {{miles / mpg | number:2}} gallons of gas to drive {{miles}} miles, which will cost about ${{miles / mpg * 3.557 | number:2}}. The journey will emit {{miles / mpg * 19.4 | number:2}} pounds of carbon. It would take {{miles / mpg * 19.4 / 13 | number:2}} years for one healthy tree to clean the carbon from the air.
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  </body>
</html>
