<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Quadrifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css">
    <link rel="stylesheet" href="css/math.css">
    <style>
      body {background: url("img/pw_maze_white.png");}
      #a {left: 15%;}
      #b {left: 40%;}
      #c {left: 65%;}
      #result {
        width: 50%;
        top: 37.5%;
        position: absolute;
        font-size: 28px;
        left: 25%;
        line-height: 1em;
      }
      .btn-default {margin-top: 5%;}
      hr {
        border: 1px solid #333;
        width: 20%;
        margin: 1px auto;
      }
      h4 {font-family: futura;}
    </style>
  </head>
  <body ng-controller="QuadCtrl">
    <h1>Quadrifier</h1>
    <h2>Enter a, b, and c for ax<sup>2</sup> + bx + c = 0</h2>
    <input type="number" id="a" class="form-control" ng-model="a" min="-99" max="99" placeholder="a">
    <input type="number" id="b" class="form-control" ng-model="b" min="-99" max="99" placeholder="b">
    <input type="number" id="c" class="form-control" ng-model="c" min="-99" max="99" placeholder="c">
    <div id="result">
      <div>x = </div>
      <div>−b ± √(b<sup>2</sup> − 4ac)</div>
      <hr>
      <div>2a</div>
      <br>
      <div>x = </div>
      <div>{{-b}} ± √{{b*b - 4*a*c}}</div>
      <hr>
      <div>{{2*a}}</div>
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#modal">View more detailed results</button>
    </div>
    <div class="modal fade"id="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">More detailed results</h4>
          </div>
          <div class="modal-body">
            <p>4a<sup>2</sup>x<sup>2</sup> + 4abx + 4ac = 0 ({{4*a*a}}x<sup>2</sup> + {{4*a*b}}x + {{4*a*c}} = 0)</p>
            <p>4a<sup>2</sup>x<sup>2</sup> + 4abx = −4ac ({{4*a*a}}x<sup>2</sup> + {{4*a*b}}x = −{{4*a*c}})</p>
            <p>4a<sup>2</sup>x<sup>2</sup> + 4abx + b<sup>2</sup> = b<sup>2</sup> − 4ac ({{4*a*a}}x<sup>2</sup> + {{4*a*b}}x + {{b*b}} = {{b*b - 4*a*c}})</p>
            <p>(2ax + b)<sup>2</sup> = b<sup>2</sup> − 4ac (({{2*a}}x + {{b}})<sup>2</sup> = {{b*b - 4*a*c}})</p>
            <p>2ax + b = √(b<sup>2</sup> − 4ac) ({{2*a}}x + {{b}} = √{{b*b - 4*a*c}})</p>
            <p>2ax = −b ± √(b<sup>2</sup> − 4ac) ({{2*a}}x = {{-b}} ± √{{b*b - 4*a*c}})</p>
            <div>x = </div>
            <div>−b ± √(b<sup>2</sup> − 4ac)</div>
            <hr>
            <div>2a</div>
            <div>x =</div>
            <div>{{-b}} ± √{{b*b - 4*a*c}}</div>
            <hr>
            <div>{{2*a}}</div>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script>function QuadCtrl($scope) {$scope.Math = Math;}</script>
  </body>
</html>
