<h3>Answer:</h3>
<div ng-if="n === l"><sup>m</sup>⁄<sub>n</sub> + <sup>k</sup>⁄<sub>l</sub> (<sup>{{m}}</sup>⁄<sub>{{n}}</sub> + <sup>{{k}}</sup>⁄<sub>{{l}}</sub>) = <sup>m + k</sup>⁄<sub>n</sub> or <sup>m + k</sup>⁄<sub>l</sub> (<sup>{{m + k}}</sup>⁄<sub>{{n}}</sub>)</div>
<div ng-if="n !== l"><sup>m</sup>⁄<sub>n</sub> + <sup>k</sup>⁄<sub>l</sub> (<sup>{{m}}</sup>⁄<sub>{{n}}</sub> + <sup>{{k}}</sup>⁄<sub>{{l}}</sub>) = <sup>m × l + k × n</sup>⁄<sub>n × l</sub> (<sup>{{m * l + k * n}}</sup>⁄<sub>{{n * l}}</sub>)</div>
