<h3>Solution:</h3>
<div ng-if="n === l">Count k ({{k}}) spaces to the right of <sup>m</sup>⁄<sub>n</sub> (<sup>{{m}}</sup>⁄<sub>{{n}}</sub>)</div>
<div ng-if="n !== l">Count k ({{k}}) spaces to the right of <sup>m</sup>⁄<sub>n</sub> (<sup>{{m}}</sup>⁄<sub>{{n}}</sub>), but we can't because the fractions don't have the same denominator. So, we must do equivalent fractions: <sup>{{m * l}}</sup>⁄<sub>{{n * l}}</sub> and <sup>{{k * n}}</sup>⁄<sub>{{l * n}}</sub>. Now, we can concatenate the two fractions.</div>
